#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/ext_power.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "media";
            bindings = <
                &to 1
                &kp C_PP
                &kp C_PREV 
                &kp C_NEXT
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        o3c_layer {
            label = "o3c";
            bindings = <
                &to 2
                &kp X
                &kp Y
                &kp SPACE
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        bt_layer {
            label = "BT";
            bindings = <
                &to 3 
                &bt BT_CLR
                &bt BT_NXT
                &out OUT_TOG
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        dev_layer {
            label = "dev";
            bindings = <
                &to 0 
                &ext_power EP_TOG
                &sys_reset
                &bootloader
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
    };
};
