/*
 * Copyright (c) 2024 Your Name
 * SPDX-License-Identifier: MIT
 *
 * Macropad: 3 keys + 1 rotary encoder (Nice!Nano v2)
 * Layout:
 *   [ENC]  [   ]
 *   [K1]  [K2]  [K3]
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "Default";
            bindings = <
                &kp C_MUTE          /* Encoder push (top-left) */
                &kp C_PP            /* Key 1 - Play/Pause      */
                &kp C_PREV          /* Key 2 - Next Track      */
                &kp C_NEXT          /* Key 3 - Prev Track      */
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        /*
         * Hold any key + encoder push to switch to this layer
         * Uncomment and wire up a hold-tap if you want a second layer
         */
        /* fn_layer { */
        /*     label = "Fn"; */
        /*     bindings = < */
        /*         &bt BT_CLR */
        /*         &bt BT_SEL 0 */
        /*         &bt BT_SEL 1 */
        /*         &bt BT_SEL 2 */
        /*     >; */
        /*     sensor-bindings = <&inc_dec_kp C_BRI_UP C_BRI_DN>; */
        /* }; */
    };
};
